table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.coffeeName{
    display: inline;
    margin-right: 4%;
}
.coffeeType{
    display: inline;
    color: gray;
}
.topHr{
    width: 80%;
}
.coffee{
    display: inline-block;
    width: 50%;
    margin-bottom: 5%;
}

